
body{
font-family: Verdana, helvetica,sans-serif;
background:#ff80ff; 
}
.tela-login{
background-color:white;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
padding: 70px;
border-radius: 15px;
color: black;
}
input{
padding: 25px;
outline: none;
     font-size: 15px;
     border: 1px solid white;
}
button{
      background: #ff99ff;
      border: none;
      padding: 15px;
      width: 20vw;
      height:6vh;
      border-radius:20px;
      color:white;
      font-size: 15px;
background-color: #cc3399; 
    background: linear-gradient(to right, #ff00ff 0%, #ff99cc 100%);

    font-weight: bold;
padd
}
button:hover{
         cursor: pointer;
}
</style>
</head>
<body>

